@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Satisfy&display=swap");

* {
  margin: 0px;
  font-family: "Plus Jakarta Sans";
}

body {
  box-sizing: border-box;
}

.glass {
  backdrop-filter: blur(255, 255, 255, 0.05);
}

.logo-heading-1 {
  font-family: "Plus Jakarta Sans";
}

.logo-heading-2 {
  font-family: "Satisfy";
}
